.footer{
    background-color: $subColor;
    padding-top: 48px;
    padding-bottom: 32px;
}
.block1{
    display: flex;
    justify-content: space-between;
}
.bottomMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    &__item{
        a{
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            height: max-content;
            display: block;
        }
    }
}
.socialIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon{
        margin-right: 32px;
        img{
            width: 48px;
            display: block;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
.block2{
    margin-top: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid white;
}
.contact{
    font-size: 36px;
    line-height: 54px;
}

.block3{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
}

.policy{
    display: flex;
    justify-content: space-between;
    width: 15%;
}