.glassesMenu{
    display: flex;
    justify-content: center;
    &__item{
        width: 33%;
        border: 1px solid #DCDCDC;
        &--active{
            border-bottom: 8px solid $subColor;
        }
    }
    a{
        display: block;
        text-decoration: none;
        padding: 24px 0;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: black;
        font-weight: bold;
    }
}