.glassesMenu{
    display: flex;
    justify-content: center;
    &__item{
        width: calc(100% / 3);
        border: 1px solid #DCDCDC;
        &--active{
            border-bottom: 8px solid $subColor;
        }
    }
    a{
        display: block;
        text-decoration: none;
        padding: 24px 0;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    @include tablet(){
        justify-content: space-between;
        max-width: none;
        padding: 0;
    }

    @include mobile(){
        a{
            font-size: 16px;
            line-height: 24px;
            padding: 16px 0;
        }
        
    }
}