.header{
    background-color: $subColor;
}
.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
    a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 25px 32px;
    }
    li:last-child{
        a{
            padding-right: 0;
        }
    }
}

.logo{
    width: 80px;
}

