.glassesBanner{
    display: flex;
    img{
        width: 50%;
    }
    &--mobile{
        display: none;
    }

    @include tablet(){
        &--pc{
            display: none;
        }
        &--mobile{
            display: block;
        }
    }
}

.enTitle{
    font-size: 42px;
    line-height: 63px;
    text-align: center;
}
.chTitle{
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.glassesItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.glassesItem{
    width: calc((100% - (24 *3px)) / 4);
    margin-bottom: 80px;
    img{
        display: block;
        width: 100%;
    }
    &__subtitles{
        display: flex;
        justify-content: space-between;
    }
    &__colors{
        display: flex;
        justify-content: flex-start;
        &--brown{
            background-color: #5F3E2D;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        &--orange{
            background-color: #B75929;
            border-radius: 4px;
            width: 24px;
            height: 24px;
        }
    }

    &--sun{
        width: calc((100% - (24px * 2)) / 3);
    }

    @include tablet(){
        width: calc((100% - 24px) / 2);
    }
    @include mobile(){
        width: 100%;
        margin-bottom: 24px;
    }
}