.banner{
    background-image: url('../images/home-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &Wrap{
        min-height: 787px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__content{
            text-align: right;
        }
        &__btn{
            padding: 6px 12px;
        }
    }

    @include mobile(){
        background-image: url('../images/home-header-sm.png');
        &Wrap{
            min-height: 396px;
        }
    }
}

.intro{
    background-color: $mainColor;
    .title{
        margin-bottom: 33px;
    }
    &Content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &__item{
            width: 24%;
            div, h3{
                text-align: center;
            }
            @include tablet(){
                width: 48%;
                margin-bottom: 24px;
                &:nth-last-child(-n+2){
                    margin-bottom: 0;
                }
            }

            @include mobile(){
                width: 100%;
            }
        }
        &__icon{
            width: 84px;
        }
    }
}

.sample{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item{
        width: 32%;
        img{
            width: 100%;
            margin-bottom: 8px;
        }
        h3{
            text-align: center;
            font-size: 48px;
            line-height: 72px;
            font-style: italic;
        }
    }
    @include tablet(){
        justify-content: center;
        &__item{
            width: 60%;
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @include mobile(){
        &__item{
            width: 100%;
        }
    }
}

.collab{
    background-image: url('../images/index-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    @include tablet(){
        background-image: url('../images/index-bg-md.png');
    }
    @include mobile(){
        background-image: url('../images/index-bg-sm.png');
    }
}
.design{
    display: flex;
    justify-content: center;
    &__item{
        img{
            width: 100%;
        }
        h3{
            text-align: center;
            font-size: 48px;
            line-height: 72px;
            font-style: italic;
            background-color: white;
        }
    }
    &__img{
        
        &--mobile{
            display: none;
        }
    }
    @include tablet(){
        flex-wrap: wrap;
        &__item{
            margin-bottom: 24px;
        }
    }
    @include mobile(){
        &__img{
            &--pc{
                display: none;
            }
            &--mobile{
                display: block;
            }
        }
    }
}

.customer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item{
        width: 24%;
        background-color: white;
        box-shadow: 0px 2px 6px #00000029;
        &:last-child{
            margin-right: 0;
        }
        img{
            width: 100%;
            display: block;
        }
        @include tablet(){
            width: 49%;
            margin-bottom: 24px;
            &:nth-last-child(-n+2){
                margin-bottom: 0;
            }
        }
        @include mobile(){
            width: 100%;
            margin-bottom: 16px;
            &:nth-child(3){
                margin-bottom: 16px;
            }
        }
    }
}
.comment{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content{
        margin-bottom: 72px;
    }
    &__name{
        margin-bottom: 8px;
    }
}

.contact{
    background-color: $mainColor;
    &__intro{
        margin-bottom: 24px;
    }
    &Form{
        &__input{
            display: block;
            margin-bottom: 16px;
            textarea, input{
                background-color: $mainColor;
                width: 100%;
                display: block;
                padding: 6px 12px;
                border: 1px solid black;
                margin-top: 8px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__check{
            display: block;
            margin-bottom: 48px;
        }
    }
}
.submit{
    display: block;
    min-width: 416px;
    padding: 16px 0;
    margin: 0 auto;

    @include mobile(){
        min-width: 0;
        width: 100%;
    }
}