// utils
@import './utils/variable';

// base
@import './base/reset';
@import './base/base';

// components
@import './components/container';
@import './components/title';
@import './components/btn';
@import './components/fontSetting';


// layout
@import './layout/nav';
@import './layout/footer';

// pages
@import './pages/index';