.pageMenu{
    display: flex;
    justify-content: center;
    a{
        display: block;
        font-size: 18px;
        line-height: 27px;
        padding: 12px 16px;
        text-decoration: none;
        color: black;
        border: 1px solid #555555;
        transition: all 0.25s ease;
        &:hover{
            color: white;
            background-color: black;
        }
    }
    &--active{
        a{
            color: white;
            background-color: black;
        }
    }
    li:last-child{
        background-color: #f2f2f2;
    }
    @include mobile(){
        width: 100%;
        li{
            width: 11%;
        }
        a{
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            padding: 12px 0;
            text-align: center;
        }
        li:first-child, li:last-child{
            width: auto;
            a{
                padding:11px 14px 12px 13px;
            }
        }
    }
}