
.container{
    max-width: 1296px;
    padding: 0 12px;
    margin: 0 auto;
    &--sm{
        max-width: 636px;
    }
    @include tablet(){
        max-width: 768px;
        padding: 0 36px;
    }
    @include mobile(){
        max-width: 375px;
        padding: 0 14px;
    }
}

.block{
    padding: 80px 0;
    @include mobile(){
        padding: 40px 0;
    }
}
