.title{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: $fontColor;
    text-align: center;
    &--mb{
        margin-bottom: 48px;
    }
}

@media(max-width:767px){
    .title{
        font-size: 24px;
        line-height: 36px;
        &--mb{
            margin-bottom: 24px;
        }
    }
}